#form {
    padding: 15% 30% 10% 34%
}

html, body { max-width: 100%; overflow-x: hidden; }

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}