<h3 id="tituloForm">Cadastro de usuários</h3>

<form style="padding: 10px;" #formValidate="ngForm">
    <div class="form-row">
      <div class="form-group col-md-1" *ngIf="op == 'editar'">
        <label>Id</label>
        <input type="input" readonly class="form-control" id="inputId" name="inputId" [(ngModel)]="usuario.id">
      </div>
      <div class="form-group col-md-3">
        <label for="inputNome">Nome</label>
        <span id="asteriscoRequired" *ngIf="nomeValidate.invalid"> *</span>
        <input type="text" class="form-control" id="inputNome" name="inputNome" placeholder="Digite o nome" 
            autocomplete="false" [(ngModel)]="usuario.userNome" #nomeValidate="ngModel" required>
      </div>
      <div class="form-group col-md-3">
        <label for="inputCPF">CPF</label>
        <span id="asteriscoRequired" *ngIf="cpfValidate.invalid"> *</span>
        <input type="text" class="form-control" id="inputCPF" name="inputCPF" placeholder="Digite o CPF" 
            autocomplete="false" [(ngModel)]="usuario.userCpf" #cpfValidate="ngModel" required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputLogin">Login</label>
            <span id="asteriscoRequired" *ngIf="loginValidate.invalid"> *</span>
            <input type="text" class="form-control" id="inputLogin" name="inputLogin" placeholder="Digite o login" 
                autocomplete="false" [(ngModel)]="usuario.userLogin" #loginValidate="ngModel" required>
        </div>
    </div>
    
    <div class="card text-center">
        <div class="card-header">
            Telefone Contato
        </div>
        <div class="card-body" id="corpoCardTel">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <form #formValidateTel="ngForm">
                        <input type="text" class="form-control" name="telefone">
                    </form>
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr *ngFor="let tel of usuario.userTelefones">
                <td *ngIf="tel.id">{{ tel.id }}</td>
                <td *ngIf="tel.id">{{ tel.numero }}</td>
                <td *ngIf="tel.id">
                    <button type="button" class="btn btn-danger" id="btnExcluirTel" 
                        data-toggle="modal" data-target="#modalExcluir" (click)="atribuiValorIdTelefoneParaExcluir(tel.id)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!--<div class="form-row" *ngIf="op == 'salvar'">
        <div class="form-group col-md-2">
            <label for="inputSenha">Senha</label>
            <input type="password" class="form-control" id="inputSenha" placeholder="Digite a senha" 
                autocomplete="false" required maxlength="6">
        </div>
        <div class="form-group col-md-2">
            <label for="inputConfirmSenha">Confirmar a Senha</label>
            <input type="password" class="form-control" id="inputConfirmSenha" placeholder="Digite a senha novamente" 
                autocomplete="false" required maxlength="6">
        </div>
    </div>-->

    <div class="form-row">
        <div class="form-group col-md-7" id="divBotoes">
            <button type="button" class="btn btn-warning" routerLink="/usuarios">Voltar</button>
            <button type="button" class="btn btn-primary" id="btnGravar" *ngIf="op == 'salvar'"
            (click)="salvarAtualizarUsuario()" [disabled]="formValidate.invalid">Gravar</button>
            <button type="button" class="btn btn-primary" id="btnAlterar" *ngIf="op == 'editar'" 
            (click)="salvarAtualizarUsuario()">Alterar</button>
        </div>
    </div>
  </form>

  <!-- Modal de confirmacao de exclusao de telefone -->
<app-confirm-excluir [titulo]="titulo" [msg]="msgExcluirTelefone" (excluirSim)="excluirTelefone($event)">
</app-confirm-excluir>
